# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [7]:
l=input("Enter the Length of the Rectnegle: ")
b=input("Enter the Length of the Rectnegle: ")
if l==b:
    print("\nIts a Square")
else:
    print("\nIts not a Square")

Enter the Length of the Rectnegle:  2
Enter the Length of the Rectnegle:  1

Its not a Square

# 2. Take three integer values from the user and print the greatest among them.

In [12]:
mylist=[]
for i in range(0,3):
    k=int(input("Please Enter an Integer"))
    mylist.append(k)
print("\nThe Highest integer is:",max(mylist))

Please Enter an Integer 5
Please Enter an Integer 25
Please Enter an Integer -99

The Highest integer is: 25

# 3.A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [17]:
Class_count=int(input("Number of Total Callses in this Semester?: "))
attendance=int(input("How many Classes did you attend: "))

if (attendance/Class_count)<0.75:
    print(f"\nSorry You are not Allowed to Sit in the Exam, Your Attendance is: {(attendance/Class_count)*100}%")
else:
    print(f"\nYou are Good, Your Attendance is:{(attendance/Class_count)*100}%")

Number of Total Callses in this Semester?:  25
How many Classes did you attend:  19

You are Good, Your Attendance is:76.0%

# 4. A school has the following rules for the grading system:
**Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.**

In [35]:
grade=int(input("Enter Your Marks: "))
if grade<25:
    print("Your Have Failed, Your Grade is: 'F'")
elif grade>=25 and grade<=44:
    print("Your Grade is: 'E'")
elif grade>=44 and grade<=49:
    print("Your Grade is: 'D'")
elif grade>=50 and grade <=59:
    print("Your Grade is: 'C'")
elif grade>=60 and grade <=79:
    print("Your Grade is: 'B'")
elif grade>=80 and grade <=89:
    print("Your Grade is: 'A'")
else:
    print("Your Grade is: 'A+'")

Enter Your Marks:  99

Your Grade is: 'A+'

# Loop Problem

**5.Print the following pattern using for and while loop.**

1 2 3 4 5 6 7

1 2 3 4 5 6

1 2 3 4 5

1 2 3 4

In [49]:
k=[1,2,3,4,5,6,7]
for l in range (4):
    for i in k:
        print(i,end="")
    print("\n")    
    k.pop()

1234567

123456

12345

1234

In [47]:
k=[1,2,3,4,5,6,7]
l=0
while l<4 :
    for i in k:
        print(i,end="")
    print("\n")    
    k.pop()
    l+=1

1234567

123456

12345

1234

# 6. Display numbers from -100 to -10 using for loop

In [50]:
for i in range (-100,-9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [77]:
sum=0
def isprime(num):
    import math
    dmy=math.ceil(math.sqrt(num))
    dmy2=0
    for i in range (2,dmy+1):
        if num%i==0:
            dmy2+=1
    if dmy2>0:
        return False
    elif num==1:
        return False
    else:
        return True
for i in range (10,1001):
    if isprime(i)==True:
        #print(i)
        sum+=i
print(sum)

76110

# 8.Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [80]:
def factorials(n):
    fact_value=1
    for i in range (1,(n+1)):
        fact_value*=i
    return fact_value
print(factorials(7))

5040

# 9. Reverse a given integer number 27956240710.

In [81]:
num = input("Enter an Integer number of any length:")
print(str(num)[::-1])

Enter an Integer number of any length: 01236912584

48521963210

# 10. Print the following pattern using for and while loop.

In [1]:
k=[]
l=[3,4,3,2]
for i in l:
    for x in range (0,i):
        k.append("#")
    print(*k)
    k=[]

# # #
# # # #
# # #
# #

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [7]:
last=0
now=1
next_el=0
print(last)
#For Loop
for i in range (1,15):
    next_el=last+now
    print(now)
    last=now
    now=next_el

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [10]:
last=0
now=1
next_el=0
print(last)
#While Loop
i=0
while i<14:
    next_el=last+now
    print(now)
    last=now
    now=next_el    
    i+=1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

# 12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]

In [17]:
Li = [1,3,5, [2,3], True]
Li[3][0]=3
Li[-1]=False
print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [23]:
S1 = {1,4,6,8}
S2 = {'True',1,2,10}#True in boolean also represents 1 , so to avoid redundancy Truth is tempered :p
print(S1.intersection(S2))

{1}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [3]:
input_string = input('Enter elements of a list separated by space ')
print("\n")
user_list = input_string.split()
print (user_list)
k=set(user_list)
user_list.sort()

print(k)
print(user_list[-1])

Enter elements of a list separated by space  1 2 88 3 85 42 99 57 1 5

['1', '2', '88', '3', '85', '42', '99', '57', '1', '5']
{'3', '88', '2', '42', '57', '1', '85', '99', '5'}
99

# 15.Rename the key of a dictionary.

In [9]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict["Region"]=Dict.pop("country")
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'Region': 'Germany'}

# 16. Creating a data frame using the list.

In [4]:
import pandas as pd
columns=['Number']
num = [10,100,300]
df = pd.DataFrame(list(zip(num)),columns=columns)#Advantages of using list(zip()) is that it can take multiple list as column
print(df)

   Number
0      10
1     100
2     300

# 17. Change the value of a key in a given dictionary.

In [10]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
Dict["age"]=28
print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}